[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
ipython = "*"

[packages]
configparser = "*"
python-dotenv = "*"
sqlalchemy = "*"
pymysql = "*"

[pipenv]
allow_prereleases = true
